name: eds-base-notebook-container-ci
run-name: EDS Base Notebook CI triggered by @${{ github.actor }}

on:
  schedule:
    - cron: "0 5 * * *"
  push:
    branches:
      - "dev"
    tags:
      - "v*.*.*"

jobs:
  aphp-container-ci-workflow:
    uses: aphp/ci-workflows/.github/workflows/container-ci.yml@main
    with:
      dockerfile-path: "eds-base-notebook/Dockerfile"
      image-name: "ghcr.io/aphp/base-eds-notebook"