name: "ci-eds-notebooks"
run-name: EDS Notebooks CI triggered by @${{ github.actor }}

on:
  schedule:
    - cron: "0 5 * * *"
  push:
    branches:
      - "dev"
    tags:
      - "v*.*.*"

jobs:
  eds-base-notebook:
    uses: "aphp/ci-workflows/.github/workflows/container-ci.yml@dev"
    with:
      dockerfile-path: "eds-base-notebook/Dockerfile"
      ignore_hadolint_rules: "DL3008,DL3016,DL3006"
      image-name: "ghcr.io/aphp/base-eds-notebook"
      image-custom-tag: "x86_64-ubuntu-24.04"
      extra-build-args: |
        JUPYTER_BASE_NOTEBOOK_IMAGE=quay.io/jupyter/base-notebook:x86_64-ubuntu-24.04
        NOTEBOOK_IMAGE=EDS-BASE-NOTEBOOK
        NOTEBOOK_MAINTAINER=aphp
      dockle-ignore: "CIS-DI-0010,DKL-DI-0001"
      trivy-ignore-vuln-ids: >
        CVE-2024-21508
        CVE-2024-21511
        CVE-2024-45337
        CVE-2023-24538
        CVE-2023-24540
        CVE-2024-24790
      trivy-ignore-license-ids: >
        WTFPL


  eds-ocaml-notebook:
    uses: "aphp/ci-workflows/.github/workflows/container-ci.yml@dev"
    needs: "eds-base-notebook"
    if: ${{ needs.eds-base-notebook.result == 'success' }}
    with:
      dockerfile-path: "eds-ocaml-notebook/Dockerfile"
      ignore_hadolint_rules: "DL3008,DL3016"
      image-name: "ghcr.io/aphp/base-ocaml-notebook"
      image-custom-tag: "x86_64-ubuntu-24.04"
      extra-build-args: |
        EDS_BASE_NOTEBOOK_IMAGE=ghcr.io/aphp/base-eds-notebook:x86_64-ubuntu-24.04
        NOTEBOOK_IMAGE=EDS-OCAML-NOTEBOOK
        NOTEBOOK_MAINTAINER=aphp
      dockle-ignore: "CIS-DI-0010,DKL-DI-0001"
      trivy-ignore-vuln-ids: >
        CVE-2024-21508
        CVE-2024-21511
        CVE-2024-45337
        CVE-2023-24538
        CVE-2023-24540
        CVE-2024-24790
      trivy-ignore-license-ids: >
        WTFPL