name: eds-ocaml-notebook-container-ci
run-name: EDS OCaml Notebook CI triggered by @${{ github.actor }}

on:
  workflow_run:
    workflows: ["eds-base-notebook-container-ci"]
    types:
      - completed
    branches: [main]
  schedule:
    - cron: "0 5 * * *"
  push:
    branches:
      - "dev"
    tags:
      - "v*.*.*"

jobs:
  aphp-container-ci-workflow:
    uses: aphp/ci-workflows/.github/workflows/container-ci.yml@main
    with:
      dockerfile-path: "eds-base-notebook/Dockerfile"
      image-name: "ghcr.io/aphp/base-ocaml-notebook"